@model MadarfigyeloWeb.Models.Odutelep

@{
    ViewData["Title"] = "Törlés";
}

<h1>Törlés</h1>

<h3>Biztosan törli ezt?</h3>
<div>
    <h4>Odutelep</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Azonosito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Azonosito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telepules)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telepules)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeruletNev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeruletNev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtmNegyzetKod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtmNegyzetKod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KezeloSzervezetNev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KezeloSzervezetNev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FelelosSzemelyNev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FelelosSzemelyNev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FelelosSzemelyCim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FelelosSzemelyCim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FelelosSzemelyTelefonszam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FelelosSzemelyTelefonszam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FelelosSzemelyEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FelelosSzemelyEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Megjegyzes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Megjegyzes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-action="Index">Vissza a listához</a>
    </form>
</div>
