@model IEnumerable<MadarfigyeloWeb.Models.Odutelep>

@{
    ViewData["Title"] = "Lista";
}

<h1>Odútelepek</h1>

<p>
    <a asp-action="Create">Új létrehozása</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Azonosito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telepules)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeruletNev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtmNegyzetKod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KezeloSzervezetNev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FelelosSzemelyNev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FelelosSzemelyCim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FelelosSzemelyTelefonszam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FelelosSzemelyEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Megjegyzes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Azonosito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telepules)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeruletNev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtmNegyzetKod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KezeloSzervezetNev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FelelosSzemelyNev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FelelosSzemelyCim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FelelosSzemelyTelefonszam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FelelosSzemelyEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Megjegyzes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Szerkesztés</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Részletek</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Törlés</a>
            </td>
        </tr>
}
    </tbody>
</table>
