@model MadarfigyeloWeb.Models.Latogatas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Latogatas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tevekenyseg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tevekenyseg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allapot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allapot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TojasSzam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TojasSzam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiokaSzam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiokaSzam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiokakKora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiokakKora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Megjegyzesek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Megjegyzesek)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
