@model IEnumerable<MadarfigyeloWeb.Models.Latogatas>

@{
    ViewData["Title"] = "Lista";
}

<h1>Látogatások</h1>

<p>
    <a asp-action="Create">Új létrehozása</a>
</p>

<form asp-action="Index" method="get" class="row g-3 align-items-end mb-3">
    <div class="col-md-4">
        <label for="odutelepId" class="form-label">Odútelep szűrés</label>
        <select id="odutelepId" name="odutelepId" class="form-select" asp-items="ViewBag.OdutelepId" onchange="this.form.submit()">
            <option value="">Összes odútelep</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="oduId" class="form-label">Odú szűrés</label>
        <select id="oduId" name="oduId" class="form-select" asp-items="ViewBag.OduId">
            <option value="">Összes odú</option>
        </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Szűrés</button>
    </div>
    <div class="col-auto">
        <a asp-action="Index" class="btn btn-secondary">Szűrés törlése</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Odu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tevekenyseg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Allapot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TojasSzam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiokaSzam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiokakKora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Megjegyzesek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Odu.OduAzonosito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tevekenyseg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allapot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TojasSzam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiokaSzam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiokakKora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Megjegyzesek)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Szerkesztés</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Részletek</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Törlés</a>
            </td>
        </tr>
}
    </tbody>
</table>
