@model IEnumerable<MadarfigyeloWeb.Models.Latogatas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tevekenyseg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Allapot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TojasSzam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiokaSzam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiokakKora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Megjegyzesek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tevekenyseg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allapot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TojasSzam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiokaSzam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiokakKora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Megjegyzesek)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
