@model IEnumerable<MadarfigyeloWeb.Models.Odu>

@{
    ViewData["Title"] = "Lista";
}

<h1>Odúk</h1>

<p>
    <a asp-action="Create">Új létrehozása</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OduAzonosito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odutelep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OduTipus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BejaratiNyilasMm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GpsLatitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GpsLongitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Elohelykod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MireVanHelyezve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FelhelyezesModja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OduTajolasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OdutTartoNovenyfaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MagassagMeter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OduAzonosito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odutelep.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OduTipus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BejaratiNyilasMm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLatitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLongitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Elohelykod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MireVanHelyezve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FelhelyezesModja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OduTajolasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdutTartoNovenyfaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MagassagMeter)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Szerkesztés</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Részletek</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Törlés</a>
            </td>
        </tr>
}
    </tbody>
</table>
